* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "mulish", sans-serif;
}

body {
    width: 100vw;
    height: 45vw;
    background-color:rgb(232, 170, 180);
    display: grid;
    place-items: center;
    color: aliceblue;
}

form {
    background-color: rgb(217, 97, 117);
    padding: 40px;
    border-radius: 5vw;
}
select{
    justify-content: center;
    text-align: center;
    
}
input{
    padding-left: 10px;
    padding-right: 10px;
}

span{
    font-size: 25px;
}